<nav class="Nav">

    <div class="Logo">
      <p>CRUD con Angular</p>
    </div>
    <div class="BarraNavegacion">
      <button class="btn" (click)="gestionarLibro()">
        <i class="fas fa-plus"></i>
        <span>Gestionar Libros</span>
      </button>
      <button class="btn" (click)="registrarLibro()">
        <i class="fas fa-search"></i>
        <span>Registrar Nuevo Libro</span>
      </button>
    </div>
  </nav>

  <section class="Section">

    <div class="Header" align="end">

      <span class="Header-text">{{email}}</span>

      <a class="fas fa-user-circle" onclick=""></a>
      <a class="fas fa-power-off" title="Cerrar Sesión" (click)="cerrarSesion()"></a>

    </div>    



<div class="Contenedor">
    <div class="Formulario">
        <div class="Titulo">
            <div class="Cont-icon">
                <i class="fas fa-cog"></i>
            </div>
            <h4 class="Name-titulo">Gestión de libros</h4>
            <!--Titulo-->
        </div>

        <div class="Contenido">

            <table class="Tabla_libros">
                <thead>
                    <tr>
                        <td style="text-align: center;">Título</td>
                        <td>Autores</td>
                        <td>ISBN</td>                        
                        <!--td style="text-align: right;">Tipo de usuario</td-->
                        <td style="text-align: right;">Acciones</td>
                    </tr>
                </thead>
                <tbody *ngFor="let book of books">

                    <tr>

                        <td style="text-align: center;">
                            {{book.titulo}}
                        </td>
                        <td>
                            {{book.autor}}
                        </td>
                        <td>
                            {{book.isbn}}
                        </td>                        
                        <!--td style="text-align: right;">
                        
                    </td-->
                        <td style="text-align: right;">
                            <button class="btn_tabla_consultar" value="Consultar libro" title="Consultar libro" (click)="getBook(book.id)">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn_tabla_modificar" value="Editar libro" title="Editar libro" (click)="updateBook(book.id)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn_tabla_eliminar" value="Eliminar libro" title="Eliminar libro" (click)="deleteBook(book)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</section>